* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #effffd;
  font-family: "Archivo", "Roboto", sans-serif;
  font-size: 14px;
}

*::selection {
  color: #fff;
  background-color: #37b2c8;
}

.section-heading {
  font-size: 15px;
  opacity: 0.5;
  padding: 6px 34px 12px 34px;
  font-weight: 500;
}

body {
  background-color: #191919;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #1088ea;
  text-decoration: none;
  cursor: pointer;
}

.site-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#site-header {
  margin-top: 12px;
  padding: 50px 34px;
}

#logo {
  width: 141px;
  height: 24px;
}

#footer {
  padding: 48px 0 24px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

#footer img {
  width: 71px;
  height: 33px;
}
